<div class="container outer">
    <div class="menu">
        <div class="left">
            {{#link-to 'index'}}
                <img src="ddataninja.png" style="height: 50px;">
            {{/link-to}}
            {{#link-to 'index'}}
                <img src="lass_die_karre_stehn.png" style="height: 50px;float:right">
            {{/link-to}}
        </div>
        <div class="left links">
            {{#link-to 'about'}}
                About
            {{/link-to}}
            {{#link-to 'contact'}}
                Contact
            {{/link-to}}
            {{#link-to 'map'}}
                Map
            {{/link-to}}
            {{test.name}}
            {{#target-link}}
            {{/target-link}}
        </div>
    </div>
    <div class="body inner">
        {{outlet}}
    </div>
</div>
