<span class="score">
    {{#link-to 'map'}}
        <img src="ddninja_farbig.png"/>
    {{/link-to}}
</span>
<span class="qr">
    {{#link-to 'map'}}
        <img src="qrcode.png"/>
    {{/link-to}}
</span>
